* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
html ul {
  list-style: none;
}
html a {
  text-decoration: none;
  color: white;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.container header {
  background-color: #ff8a00;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
}
.container .header_l {
  margin: 0 30px ;
}
.container .header_l img {
  height: 100%;
}
.container .header_r {
  display: flex;
  height: 100%;
  margin: 0 30px ;
}
.container .header_r img {
  margin: 20px 20px;
}
.container .banner {
  background: url(image/index/banner.png) no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 698px;
}
.container .banner .search_text {
  display: block;
  width: 70%;
  height: 40px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-indent: 4rem;
  font-size: 2rem;
  border: 2px solid black;
  outline: none;
}
.container .banner .search_img {
  position: absolute;
  bottom: 25px;
  left: 15%;
}
.container nav {
  width: 100%;
  height: 200px;
  background-color: #ece8e7;
}
.container nav ul {
  width: 100%;
  height: 95%;
  display: flex;
  background-color: #ff8a00;
  justify-content: center;
}
.container nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  border-radius: 50%;
}
.container nav ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  color: white;
  justify-content: center;
}
.container .banner2 {
  width: 100%;
  height: 800px;
  background: url(image/index/banner2.png) no-repeat;
  background-size: contain;
}
.container .remen {
  width: 100%;
  flex-direction: column;
  color: white;
}
.container .remen .re_nav {
  background-color: #ff8a00;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
}
.container .remen .re_nav span:nth-of-type(1) {
  font-size: 3rem;
  padding: 10px;
}
.container .remen .re_nav span:nth-of-type(2) {
  font-size: 2rem;
  padding-left: 10px;
}
.container .remen ul {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.container .remen ul li {
  width: 94%;
  padding: 30px;
  display: flex ;
  border-bottom: 1px solid orange;
}
.container .remen ul li a {
  display: flex;
  width: 100%;
}
.container .remen ul li a .re_l {
  flex: 1;
}
.container .remen ul li a .re_r {
  color: black;
  font-size: 3rem;
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.container .remen ul li a .re_r .re_r_1 {
  display: flex;
  justify-content: space-between;
  font-size: 2.5rem;
}
.container .remen ul li a .re_r .re_r_1 .r {
  color: orange;
  font-weight: bold;
}
.container .remen ul li a .re_r .re_r_2 {
  display: flex;
  justify-content: space-between;
  color: gray;
  font-size: 2rem;
}
.container .remen ul li a .re_r .re_r_3 span {
  padding: 10px;
  font-size: 2rem;
  background-color: #f7ecec;
}
.container .remen .re_attend {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: gray;
}
.container .remen .re_attend .re_attend_t {
  flex: 1;
  display: flex;
  font-size: 3rem;
  justify-content: space-evenly;
}
.container .remen .re_attend .re_attend_t span {
  padding: 0 10%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.container .remen .re_attend .re_attend_t span:nth-of-type(1) {
  color: orange;
  border-bottom: 3px solid orange;
}
.container .remen .re_attend .re_attend_b {
  width: 80%;
  margin: 20px auto;
  flex: 3;
  display: flex;
  flex-wrap: wrap;
}
.container .remen .re_attend .re_attend_b span {
  width: 40%;
  margin: 0 auto;
  font-size: 2.5rem;
}
.container footer {
  width: 100%;
  height: 300px;
  background-color: #2f3130;
  color: white;
  display: flex;
  flex-direction: column;
}
.container footer .footer_t {
  font-size: 2.5rem;
  border-bottom: 1px solid #cabdbd;
  flex: 1;
  padding-top: 10px;
  padding-left: 30px;
}
.container footer .footer_b {
  width: 50%;
  margin: 30px auto;
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container footer .footer_b .footer_b_t {
  height: 40%;
  font-size: 2rem;
  flex: 2;
  display: flex;
  align-items: center;
}
.container footer .footer_b .footer_b_t img {
  height: 70%;
  margin-right: 10px;
}
.container footer .footer_b .footer_b_t .apple {
  margin-right: 60px;
}
.container footer .footer_b .footer_b_t span {
  width: 90px;
  height: 70%;
  padding-top: 20px;
}
.container footer .footer_b .footer_b_c {
  font-size: 2rem;
  flex: 1;
}
.container footer .footer_b .footer_b_b {
  font-size: 1.6rem;
  flex: 1;
}
